* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body{
    background-image: url(img/fondopagweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    position: sticky;
    z-index: 100;
    top: 0%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    background-color: rgb(49, 49, 49);
  }
  
  h1 {
    font-style: italic;
    font-size: 35px;
    color: aqua;
  }
  
  ul li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    color: aqua;
  }
  
  .sidebar {
    background-color: rgb(49, 49, 49);
    color: white;
    width: 200px;
    height: 100%;
    float: left;
    margin-top: 150px;
  }
  
  .sidebar div {
    padding: 10px;
  }
  
  footer {
    background-color: rgb(49, 49, 49);
    color: white;
    clear: both;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 9%;
  }

  .yo{
    width: 180px;
  }

  .CV{
    margin-top: 40px;
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    background-color: rgb(49, 49, 49);
    border: 1px solid aqua;
    padding: 12px;
    width: 60%;
  }

  .fotoCV{
    height: 200px;
    border-radius: 50%;
    margin-bottom: 12px;
    float: left;
  }

  fieldset{
    margin-bottom: 12px;
  }

  legend{
    background-color: aqua;
    padding: 5px;
    border-radius: 40px;
    font-weight: bold;
    color: rgb(49, 49, 49);
  }

  table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
  }

  td{
    border: 1px solid black;
  }

  tr{
    border: 1px solid black;
  }

  th{
    border: 1px black solid;
  }

  .idiomas{
    width: 48%;
    height: 150px;
    float: left;
  }

  .experiencia{
    width: auto;
    height: 150px;
  }