* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url(img/fondopagweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: sticky;
  z-index: 100;
  top: 0%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: rgb(49, 49, 49);
}

h1 {
  font-style: italic;
  font-size: 35px;
  color: aqua;
}

ul li {
  display: inline-block;
  padding: 0px 20px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: aqua;
}

.sidebar {
  background-color: rgb(49, 49, 49);
  color: white;
  width: 120px;
  height: 90%;
  float: left;
  margin-top: 30px;
}

.sidebar div {
  margin-top: 200px;
  padding: 10px;
}

footer {
  background-color: rgb(49, 49, 49);
  color: white;
  clear: both;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  color: aqua;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: white;
  }

hr{
    color: aqua;
    width: 550px;
}

section{
color: white;
}

.características {
    columns: 3;
}

.columnas{
    font-size: larger;
    font-style: normal;  
}

p{
  padding: 10px;
  text-align: center;
}

.cosas {
  color: white;
  text-align: center;
}

img {
  width: 200px;
}

.bbo {
  float: left;
  margin-left: 682px;
}

.pop {
  float: right;
  margin-right: 682px;
}

.mmcd {
  clear: both;
}
