* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
  background-image: url(fondopagweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header{
  position: sticky;
  z-index: 100;
  top: 0%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: rgb(49, 49, 49);
}

h1{
  color: white;
  font-size: 20px;
}

ul li{
  display: inline-block;
  padding: 0px 20px;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: aqua;
}

.sidebar {
  position: sticky;
  z-index: 99;
  background-color: rgb(49, 49, 49);
  color: white;
  float: left;
  width: 100px;
  height: 1000px;
}

.sidebar div {
  margin-top: 200px;
  padding: 10px;
}

footer {
  background-color: rgb(49, 49, 49);
  color: white;
  clear: both;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.características{
  column-count: 3;
  column-gap: 1em;
  text-align: center;
}
section{
  color: white;
  text-align: center;
}

section.2{
  color: white;
  text-align: center;
}

img{
  width: 270px;
}

.bbo{
  float: left;
  margin-left: 623px;
}

.pop{
  float: right;
  margin-right: 623px;
}

.mmcd{
 clear: both;
}

h2{
  text-align: center;
  font-style: italic;
  font-size: 30px;
  color: aqua;
}